{% extends 'base.html' %}

{% load render %}

{% block content %}

<div class='b-page'>
	<h1 class='b-page__header'>{{ page.header }}</h1>
	<div class='b-page__intro'>{{ page.intro }}</div>

	{% if page.img %}
		<img src='{{ page.img.url }}' alt='{{ page.title }}' class='b-page__img'>
	{% endif %}


	{% for item in page.all_childs %}
	<div class='b-page__child'>
		<a class='b-page__child__title' href='{{ item.get_absolute_url }}'>{{ item.header }}</a>
		<div class='b-page__child__intro'>{{ item.intro|safe }}</div>
	</div>
	{% endfor %}

	<div class='b-page__text'>{% render page.text %}</div>

	{% include "pages/__blocks/paginator.html" %}

</div><!-- b-page -->

{% endblock %}
