{% load thumbnail %}

<div class='b-pages'>
{% for i in '1--4' %}
{% for item in news %}
	<div class='b-page__child'>
		{% thumbnail item.img "500x300" crop="center" as im %}
			<img src='{{ im.url }}' class='b-page__child__img' alt='{{ item.header }}'>
		{% empty %}
			<img src='/static/pages/img/no_photo.png' class='b-page__child__img' alt='{{ item.header }}' title='{{ item.header }}' />
		{% endthumbnail %}
		<a href='{{ item.get_absolute_url }}' class='b-page__child__title'>{{ item.header }}</a>
		<div class='b-page__child__date'>{{ item.created_at|date:"d E" }}</div>
		<div class='b-page__child__intro'>{{ item.intro|safe }}</div>
		<a class='b-page__child__link' href="#">Read More</a>
	</div>
{% endfor %}
{% endfor %}
</div>