.b-media {
	width: 100%;
	float: left;
	margin: 40px 0;
}

.b-media .b-media-item {
	width: 23.433333%;
	min-height: 187px;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
	margin-right: 17px;
}

.b-media .b-media-item:nth-of-type(4n) {
	margin-right: 0;
}

.b-media .b-media-item .b-media-item__video {
	width: 100%;
	height: 193px;
}

.b-media .b-media-item__figure {
	margin: 0;
	padding: 0;
}

.b-media .b-media-item__figure .b-media-item__img {
	width: 100%;
}